In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('전처리/주택소유율에따른_경제안정성과고용률.csv')
df2 = pd.read_excel('raw/지가변동률/시군구별_연간_지가변동률_통계(1975~2018년).xlsx')

In [3]:
df2.columns

Index(['지역', '1975년', '1976년', '1977년', '1978년', '1979년', '1980년', '1981년',
       '1982년', '1983년', '1984년', '1985년', '1986년', '1987년', '1988년', '1989년',
       '1990년', '1991년', '1992년', '1993년', '1994년', '1995년', '1996년', '1997년',
       '1998년', '1999년', '2000년', '2001년', '2002년', '2003년', '2004년', '2005년',
       '2006년', '2007년', '2008년', '2009년', '2010년', '2011년', '2012년', '2013년',
       '2014년', '2015년', '2016년', '2017년', '2018년'],
      dtype='object')

In [4]:
# 공백 제거
df2['지역'] = df2['지역'].str.replace(' ', '')

In [5]:
df2.loc[df2['지역'] == '서울특별시']

,지역,1975년,1976년,1977년,1978년,1979년,1980년,1981년,1982년,1983년,...,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년
0,서울특별시,31.63,16.06,31.7,135.7,6.4,13.42,3.56,8.7,57.7,...,1.4,0.53,0.97,0.38,1.21,2.66,2.69,2.97,4.32,6.11

In [6]:
# 시도 리스트
sido_list = ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
             '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도',
             '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도']

In [7]:
# 2005년도 부터 사용
df2 = pd.concat([df2.loc[:, '지역'], df2.loc[:, '2005년':]], axis = 1)

# 시도 데이터만 사용
df2 = df2.loc[df2['지역'].isin(sido_list)].reset_index(drop = True)

In [14]:
df2

,지역,2005년,2006년,2007년,2008년,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년
0,서울특별시,6.56,9.17,5.88,-1.00,1.40,0.53,0.97,0.38,1.21,2.66,2.69,2.97,4.32,6.11
1,부산광역시,1.86,2.50,2.16,-0.17,0.11,1.22,1.58,1.73,1.57,2.28,3.09,4.17,6.51,5.74
2,대구광역시,3.32,4.19,2.91,-0.45,0.28,1.40,1.40,1.58,1.68,3.15,4.06,3.93,4.58,5.01
3,인천광역시,4.94,5.58,4.85,1.37,1.99,1.43,0.66,0.46,0.87,1.35,1.95,1.74,3.10,3.59
4,광주광역시,1.87,1.44,0.94,-0.90,0.33,0.67,0.75,1.15,0.75,1.31,2.87,2.82,4.17,5.26
5,대전광역시,6.80,4.15,1.48,-0.97,0.26,1.55,1.47,1.25,1.01,1.84,3.11,3.45,3.36,3.34
6,울산광역시,2.06,2.94,2.90,-0.28,0.31,0.74,1.09,1.65,1.37,1.85,2.52,2.35,3.54,2.65
7,세종특별자치시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.19*,NaN,NaN,NaN,NaN,NaN,NaN
8,경기도,5.69,5.07,4.23,-0.27,1.22,1.49,1.47,1.04,0.91,1.24,1.73,2.23,3.45,4.42
9,강원도,2.63,2.52,1.67,0.38,0.34,0.84,1.42,1.79,1.29,1.76,2.64,2.92,3.82,3.58
10,충청북도,4.98,4.37,1.27,-0.36,0.11,0.65,0.59,1.09,1.02,1.69,1.90,1.92,3.08,3.16
11,충청남도,8.32,5.55,2.03,-0.12,0.26,1.16,0.76,0.88,0.78,1.39,1.51,1.90,2.98,2.28
12,전라북도,1.38,1.29,1.21,2.58,-0.53,0.66,0.77,1.43,1.04,1.58,2.31,2.15,3.33,2.72
13,전라남도,2.45,1.91,1.31,0.26,0.35,1.13,0.95,1.35,0.96,1.80,2.80,2.60,3.90,4.00
14,경상북도,2.19,2.52,1.68,-0.13,0.48,1.14,1.11,1.4,1.49,2.42,2.65,2.54,3.09,2.86
15,경상남도,2.81,2.56,2.22,0.11,0.44,1.29,1.63,1.67,1.49,1.97,2.23,2.36,3.09,2.20
16,제주특별자치도,2.12,2.10,1.67,-0.02,0.20,1.07,0.92,1.25,1.42,3.73,7.57,8.33,5.46,4.99

In [16]:
df2.columns[1:]

Index(['2005년', '2006년', '2007년', '2008년', '2009년', '2010년', '2011년', '2012년',
       '2013년', '2014년', '2015년', '2016년', '2017년', '2018년'],
      dtype='object')

In [18]:
df2 = df2.melt(id_vars = '지역', value_vars = df2.columns[1:])
df2.columns = ['시도', '연도', '지가변동률']

In [21]:
# 세종시는 지가변동률 데이터가 없다.
df2.loc[df2['시도'] == '세종특별자치시']

          시도     연도  지가변동률
7    세종특별자치시  2005년    NaN
24   세종특별자치시  2006년    NaN
41   세종특별자치시  2007년    NaN
58   세종특별자치시  2008년    NaN
75   세종특별자치시  2009년    NaN
92   세종특별자치시  2010년    NaN
109  세종특별자치시  2011년    NaN
126  세종특별자치시  2012년  3.19*
143  세종특별자치시  2013년    NaN
160  세종특별자치시  2014년    NaN
177  세종특별자치시  2015년    NaN
194  세종특별자치시  2016년    NaN
211  세종특별자치시  2017년    NaN
228  세종특별자치시  2018년    NaN

In [22]:
df2

          시도     연도 지가변동률
0      서울특별시  2005년  6.56
1      부산광역시  2005년  1.86
2      대구광역시  2005년  3.32
3      인천광역시  2005년  4.94
4      광주광역시  2005년  1.87
..       ...    ...   ...
233     전라북도  2018년  2.72
234     전라남도  2018년   4.0
235     경상북도  2018년  2.86
236     경상남도  2018년   2.2
237  제주특별자치도  2018년  4.99

[238 rows x 3 columns]

In [23]:
df2.to_csv('전처리/지가변동률_전처리.csv')